# Archivos sensibles
backend/.env
*.log

# Dependencias
node_modules/
logs/


# Archivos temporales
.DS_Store
*.tmp

backend/.env
*.db
*.sqlite

target/
dependency-reduced-pom.xml

*.iml
.idea/
.vscode/
*.class
  
*.bak
*.swp